<!DOCTYPE HTML>
<title>Booking Confirmation</title>
<html style="font-family:sans-serif; color:black">
<body>
    <h2 style="text-align:center">Booking Confirmation</h2>
    <p>Hi [FirstName],</p>
    <p>Your ticked is booked for [IdTrainName]</p>
    <p>Please find your booking details below.</p>
    <ul>
        <li>Booking ID : [BookingID]</li>
        <li>Train : [TrainName]</li>
        <li>Booked On : [BookingOn]</li>
        <li>Departure Date : [DepartureDate]</li>
        <li>Starts From : [Initial]</li>
        <li>Ends At : [Destination]</li>
        <li>Number of Passengers : [PassengerCount]</li>
        <li>Meal Preference: [Meal]</li>
        <li>Payment Mode : [PaymentMode]</li>
        <li>Total Amount : [Fare]</li>
    </ul>
    <p>Please go to Booking History page in our website for more details and cancellation.</p>
    <button>Take me to Train Booking App</button>
</body>
</html>