<!DOCTYPE html>
<title>Welcome to Train Booking Application</title>
<html style="font-family:sans-serif; color:black">
<body>
    <h2 style="text-align:center">Welcome to Train Booking App</h2>
    <p>Hi [FirstName],</p>
    <p>Thanks for registering on Train Booking App. Delighted to have you onboard.</p>
    <p>Please find your registered details below.</p>
    <ul>
        <li>Login : [Login]</li>
        <li>Password : [Password]</li>
        <li>Phone : [PhoneNumber]</li>
        <li>Address : [Address]</li>
    </ul>
    <p>For any updates to details please go to the Account page in our website.</p>
    <p>For finding and booking trains please click on the below button. </p>
    <button>Take me to Train Booking App</button>
</body>
</html>